<section style="background-color: rgba(11, 20, 26, 0.85)"
  class="absolute w-full h-[100vh] bg-[rgba(11, 20, 26, .85)] left-0 top-0 z flex justify-center items-center z-50">
  <article class="w-[500px] h-[323px] bg-[#3B4A55] px-[24px] py-[22px] flex flex-col gap-[15px]">

    <h2 class="text-[20px] text-[#d1d7db]">¿Desea salir del grupo "{{currentChatPreviwData?.name?.trim()}}"?</h2>
    <p class="text-[14px] text-[#aebac1]">Solo quienes administran el grupo recibirán una notificación de que
      abandonaste el chat grupal.</p>
    <section class="w-full flex flex-col items-end gap-4 pt-8">
      <button (click)="onCancel()"
        class=" bg-transparent py-[9px] px-[21px] rounded-full text-[#00A884] border-[#8696a026] border-[1px] text-[14px] w-[106px] hover:text-[#06cf9c]">Cancelar</button>
      <button (click)="onCancel()"
        class=" bg-transparent py-[9px] px-[21px] rounded-full text-[#00A884] border-[#8696a026] border-[1px] text-[14px] w-[135px] hover:text-[#06cf9c]">Solo
        archivar</button>
      <button type="submit"
        class=" bg-[#00A884] py-[9px] px-[21px] rounded-full text-[#111b21] text-[14px] w-[145px] hover:bg-[#06cf9c]">Salir
        del grupo</button>
    </section>

  </article>
</section>