<section class="bg-backgroundDefault h-full px-[12px] flex flex-col">
  <h1 class="text-[1.375rem] font-semibold my-[18px]">Contactos</h1>
  <chats-input [defaultPlaceHolder]="'Buscar un nombre'" (messageEvent)="onInputQueryChange($event)"
    [isChatInputLoading]="isChatInputLoading()" />
  <section class="scroll_section">
    <button class="flex relative  w-full items-center cursor-pointer hover:bg-[#202c33]  min-h-[72px] pl-[13px]">
      <div class="w-[49px] h-[49px] rounded-full bg-[#00A884] flex justify-center items-center">
        <shared-group-icon [iconColor]="'white'" />
      </div>
      <section
        class="flex flex-row gap-5 justify-between items-center flex-1 border-y-[.5px] h-[72px] border-[#1F2C33]">
        <div class="flex flex-col px-4">
          <h2 class="text-[16px] text-left text-textGray">Nuevo Grupo</h2>
        </div>

      </section>
    </button>

    <button class="flex relative  w-full items-center cursor-pointer hover:bg-[#202c33]  min-h-[72px] pl-[13px]">
      <div class="w-[49px] h-[49px] rounded-full bg-[#00A884] flex justify-center items-center">
        <shared-community-icon [iconColor]="'white'" />
      </div>
      <section
        class="flex flex-row gap-5 justify-between items-center flex-1 border-y-[.5px] h-[72px] border-[#1F2C33]">
        <div class="flex flex-col px-4">
          <h2 class="text-[16px] text-left text-textGray">Nueva Comunidad</h2>
        </div>

      </section>
    </button>

    <button class="flex relative w-full items-center cursor-pointer hover:bg-[#202c33]  min-h-[72px] pl-[13px]"
      (click)="onClickAddNewUser()">
      <div class="w-[49px] h-[49px] rounded-full bg-[#00A884] flex justify-center items-center">
        <shared-community-icon [iconColor]="'white'" />
      </div>
      <section
        class="flex flex-row gap-5 justify-between items-center flex-1 border-y-[.5px] h-[72px] border-[#1F2C33]">
        <div class="flex flex-col px-4">
          <h2 class="text-[16px] text-left text-textGray">Añadir Nuevo Contacto</h2>
        </div>

      </section>
    </button>
    <contacts-preview [title]="'CONTACTOS EN WHATSAPP'" />
    @for (contacts of contactsSortedByLetterData(); track $index) {
    <contacts-preview [title]="contacts.letter" />
    @for (contact of contacts.data; track $index) {
    <contacts-preview [contactsData]="contact" />
    }
    }


  </section>
</section>
@if (showNewContactModal()) {
<contacts-add-new-contact-modal />
}