<section class="flex flex-col h-full">
  <header class="h-[64px] w-full bg-[#111b21] flex items-center justify-between px-4">
    <div class="flex items-center justify-start gap-6">
      <button (click)="onClickback()">
        <shared-left-arrow-icon [iconColor]="'#8696A0'" />
      </button>
      <h3 class="text-[16px] text-[#e9edef]">Mensajes destacados</h3>
    </div>
    <button [ngStyle]="{background:showOptions()?'rgba(255,255,255,.1)':'transparent'}"
      (click)="onOptionsIconClick($event)"
      class=" relative w-[40px] h-[40px] flex justify-center items-center rounded-full ">
      <shared-options-icon [iconColor]="'white'" class=" hover:cursor-pointer" />
      <section class="absolute w-[241px] h-[205px] z-10 container origin-top-right" [ngClass]="{'show': showOptions()}"
        [ngStyle]="{ top: chatHeaderOptionsCordenates().y + 'px', right: chatHeaderOptionsCordenates().x  + 'px' }">
        <chat-preview-options [options]="chatStarredHeaderOptions()" (onClickEmit)="onOptionClick($event)" />
      </section>
    </button>

  </header>
  <section class="w-full bg-[#0C1318] flex-1 scroll_section  flex flex-col ">
    @for (starredMessageViewData of starredMessagesViewData(); track $index) {
    <button (click)="onStarredMessageClick(starredMessageViewData.message.chatRoomId, starredMessageViewData.message.id)"
      class="flex flex-col gap-4 hover:bg-black py-[9px] px-[10px] eachStarredmessage">
      <section class="flex justify-between">
        <div class="flex items-center gap-1">
          <img [src]="starredMessageViewData.urlImg" class="w-[26px] h-[26px] rounded-full">
          <div class="flex  items-start">
            <span class="text-[#d1d7db] text-[14px]">{{starredMessageViewData.title}}</span>
            <span class="prueba"></span>
            <span class="text-[#d1d7db] text-[14px]">Tu</span>
          </div>
        </div>
        <div class="flex gap-1 items-center">
          <p class="text-[#667781] text-[12px]">{{starredMessageViewData.messageDate}}</p>
          <shared-chevron-icon [arrowDirection]="'right'" [iconColor]="'#667781'"
            [measure]="{ width: '21', height: '21' }" />
        </div>
      </section>

      <chats-room-messages [messageData]="starredMessageViewData.message" />
    </button>

    }
  </section>
</section>
