.container {
  transform: scale(0);
  opacity: 0;
  z-index: 3;


  &.origin-top-left {
    transform-origin: top left;
  }

  &.origin-top-right {
    transform-origin: top right;
  }

  &.origin-bottom-left {
    transform-origin: bottom left;
  }

  &.origin-bottom-right {
    transform-origin: bottom right;
  }
}

.container.show {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}