<section style="background-color: rgba(11, 20, 26, 0.85)"
  class="absolute w-full h-[100vh] bg-[rgba(11, 20, 26, .85)] left-0 top-0 z flex justify-center items-center">
  <article class="w-[500px] h-[395px] bg-[#3B4A55] px-[24px] py-[22px] flex flex-col gap-[15px]">
    <h1 class="font-[400] text-[1.25rem] text-[#d1d7db]">Silencia las notificaciones</h1>
    <p class="text-[14px] text-[#aebac1]">
      Ningún participante verá que silenciaste este chat, y seguirás recibiendo
      una notificación cuando te mencionen.
    </p>
    <form class="flex flex-col justify-between h-full pt-4" (submit)="onSubmit($event)">


      <fieldset class="flex flex-col gap-8">

        <label for="mute-8h" class="flex gap-[20px] items-center hover:cursor-pointer">
          <input type="radio" id="mute-8h" name="muteDuration" value="hour" [(ngModel)]="selectedMuteDuration"
            class="hidden peer">

          <!-- SVG cuando NO está seleccionado -->
          <svg class="peer-checked:hidden" viewBox="0 0 20 20" height="20" width="20"
            preserveAspectRatio="xMidYMid meet" version="1.1" x="0px" y="0px" enable-background="new 0 0 20 20">
            <title>checkbox-round-passive</title>
            <path fill="#74848E" fill-opacity="inherit"
              d="M10,0.25c-5.385,0-9.75,4.365-9.75,9.75s4.365,9.75,9.75,9.75s9.75-4.365,9.75-9.75 S15.385,0.25,10,0.25z M10,17.963c-4.398,0-7.962-3.565-7.962-7.963S5.603,2.037,10,2.037S17.963,5.602,17.963,10 S14.398,17.963,10,17.963z">
            </path>
          </svg>

          <!-- SVG cuando está seleccionado -->
          <svg class="peer-checked:block hidden" viewBox="2 2 20 20" height="20" width="20"
            preserveAspectRatio="xMidYMid meet" fill="none">
            <title>checkbox-round-radio-checked</title>
            <path
              d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z"
              fill="#008069"></path>
          </svg>

          <span class="text-[16px]">8 horas</span>
        </label>


        <!-- Radio Button 2 -->
        <label for="mute-1w" class="flex gap-[20px] items-center hover:cursor-pointer">
          <input type="radio" id="mute-1w" name="muteDuration" value="week" [(ngModel)]="selectedMuteDuration"
            class="hidden peer">
          <!-- SVG cuando NO está seleccionado -->
          <svg class="peer-checked:hidden" viewBox="0 0 20 20" height="20" width="20"
            preserveAspectRatio="xMidYMid meet" version="1.1" x="0px" y="0px" enable-background="new 0 0 20 20">
            <title>checkbox-round-passive</title>
            <path fill="#74848E" fill-opacity="inherit"
              d="M10,0.25c-5.385,0-9.75,4.365-9.75,9.75s4.365,9.75,9.75,9.75s9.75-4.365,9.75-9.75 S15.385,0.25,10,0.25z M10,17.963c-4.398,0-7.962-3.565-7.962-7.963S5.603,2.037,10,2.037S17.963,5.602,17.963,10 S14.398,17.963,10,17.963z">
            </path>
          </svg>

          <!-- SVG cuando está seleccionado -->
          <svg class="peer-checked:block hidden" viewBox="2 2 20 20" height="20" width="20"
            preserveAspectRatio="xMidYMid meet" fill="none">
            <title>checkbox-round-radio-checked</title>
            <path
              d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z"
              fill="#008069"></path>
          </svg>
          <span class="text-[16px]">1 semana</span>
        </label>

        <!-- Radio Button 3 -->
        <label for="mute-always" class="flex gap-[20px] items-center hover:cursor-pointer">
          <input type="radio" id="mute-always" name="muteDuration" value="always" [(ngModel)]="selectedMuteDuration"
            class="hidden peer">
          <!-- SVG cuando NO está seleccionado -->
          <svg class="peer-checked:hidden" viewBox="0 0 20 20" height="20" width="20"
            preserveAspectRatio="xMidYMid meet" version="1.1" x="0px" y="0px" enable-background="new 0 0 20 20">
            <title>checkbox-round-passive</title>
            <path fill="#74848E" fill-opacity="inherit"
              d="M10,0.25c-5.385,0-9.75,4.365-9.75,9.75s4.365,9.75,9.75,9.75s9.75-4.365,9.75-9.75 S15.385,0.25,10,0.25z M10,17.963c-4.398,0-7.962-3.565-7.962-7.963S5.603,2.037,10,2.037S17.963,5.602,17.963,10 S14.398,17.963,10,17.963z">
            </path>
          </svg>

          <!-- SVG cuando está seleccionado -->
          <svg class="peer-checked:block hidden" viewBox="2 2 20 20" height="20" width="20"
            preserveAspectRatio="xMidYMid meet" fill="none">
            <title>checkbox-round-radio-checked</title>
            <path
              d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z"
              fill="#008069"></path>
          </svg>
          <span class="text-[16px]">Siempre</span>
        </label>
      </fieldset>

      <section class="w-full flex justify-end gap-4">

        <button (click)="onCancel()"
          class=" bg-transparent py-[9px] px-[21px] rounded-full text-[#00A884] border-[#8696a026] border-[1px] text-[14px] w-[106px] hover:text-[#06cf9c]">Cancelar</button>

        <button type="submit"
          class=" bg-[#00A884] py-[9px] px-[21px] rounded-full text-[#111b21] text-[14px] w-[106px] hover:bg-[#06cf9c]">Silenciar</button>
      </section>

    </form>




  </article>
</section>