<header
  class="flex flex-col py-3 gap-4 items-center justify-between bg-navbarBackground  h-[100%] border-r-[1px] border-[#2E3B44]">
  <section class="flex flex-col gap-2">
    <button class="bg-transparent p-2 rounded-3xl" routerLink="/chats" routerLinkActive="active">
      <icon-chat [iconColor]="iconColor" />
    </button>
    <button class="bg-transparent p-2 rounded-3xl" routerLink="/states" routerLinkActive="active">
      <icon-state [iconColor]="iconColor" />
    </button>
    <button class="bg-transparent p-2 rounded-3xl" routerLink="/channels" routerLinkActive="active">
      <icon-chanel [iconColor]="iconColor" />
    </button>
    <button class="bg-transparent p-2 rounded-3xl" routerLink="/contacts" routerLinkActive="active">
      <shared-contacts-icon [iconColor]="iconColor" />
    </button>
  </section>
  <section class="flex flex-col gap-2 w-[40px]">
    <button class="bg-transparent p-2 rounded-3xl" routerLink="/settings" routerLinkActive="active" (click)="logOut()">
      <icon-settings [iconColor]="iconColor" />
    </button>
    <button class="bg-transparent rounded-3xl" routerLink="/profile" routerLinkActive="active">
      <icon-profile [profile_img_url]="userData()?.urlImg!" />
    </button>
  </section>
</header>