.each_starred_messages {
  position: relative;

  &::before {
    position: absolute;
    top: 0px;
    left: 42px;
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgba(134, 150, 160, .15);
  }
}