@if (!title) {

<button (click)="onClickContact()"
  class="flex relative  w-full items-center cursor-pointer hover:bg-[#202c33] h-[72px] pl-[13px]">
  <img style="clip-path: circle();" class="w-[49px] h-[49px] clip" [src]="contactsData.urlImg" alt="">
  <section class="flex flex-row gap-5 justify-between items-center flex-1 border-y-[.5px] h-full border-[#1F2C33]">
    <div class="flex flex-col px-4">
      <h2 class="text-[16px] text-left">{{contactsData.firstName}} {{contactsData.lastName}}</h2>
      <p class="text-[#8696A0] text-[14px] inline-flex gap-1">
        Leyendo un libro...
      </p>
    </div>

  </section>
</button>

}@else {
<button class="flex relative  w-full items-center cursor-default   h-[72px] pl-[13px] flex-1">
  <h2 class="text-[16px] text-[#008069] px-5">{{title}}</h2>
</button>
}