<footer class="min-h-[62px] h-auto pb-[5px] bg-[#1F2C33] px-[12px] flex  items-center">
  <button class="w-[40px]  flex justify-center items-center">
    <shared-plus-icon />
  </button>
  <section class="flex-1 bg-[#2a3942] min-h-[44px] my-[5px] mx-[8px] px-4 rounded-md flex items-center gap-4 h-auto">
    <button>
      <shared-expressions-icon />
    </button>
    <textarea placeholder="Escribe un mensaje" class="auto-expand" (input)="autoExpand($event)"></textarea>

  </section>
  <button class="w-[40px]  flex justify-center items-center">
    <shared-micro-icon />
  </button>
</footer>