<section style="background-color: rgba(11, 20, 26, 0.85)"
  class="absolute w-full h-[100vh] bg-[rgba(11, 20, 26, .85)] left-0 top-0 z flex justify-center items-center z-50"
  (mousedown)="onClickOutSide($event)">
  <article class="w-[700px]  bg-[#111B21] px-[12px] py-[22px] flex flex-col gap-[15px]"
    (mousedown)="onClickInside($event)">

    <h1 class="font-[400] text-[1.25rem] text-[#d1d7db]">Crear Grupo</h1>
    <section class="flex flex-col gap-12">

      <section class=" flex justify-start gap-12">
        <section class="flex justify-center items-center">
          <label for="group_img">
            <img [src]="previewImg" alt="no hay imagen"
              class="w-[200px] h-[200px] rounded-full object-cover cursor-pointer">
          </label>
          <input type="file" id="group_img" name="group_img" accept="image/*" (change)="onFileSelected($event)"
            class="hidden">
        </section>
        <section class=" flex  flex-1 flex-col  justify-center items-start">
          <div class=" flex border-b-[3px] py-2 border-[#8696A0] w-[90%] px-2 ">
            <input type="text" placeholder="Asunto del grupo (opcional)" (input)="onInputChange($event)"
              [value]="groupName()" class="basis-[90%]">
            <button class="flex-1">
              <shared-emoji-picker (emitEmoji)="onEmojiChange($event)" />

            </button>
          </div>

        </section>
      </section>

      <section class="flex flex-col gap-3">

        <div class=" flex flex-col gap-4">
          <div class="flex w-full justify-between gap-2">
            <p class=" font-semibold text-[#04A784]">miembros {{ groupMembers() }}/20</p>
            <button (click)="onClearGropuMembers()" class="font-semibold text-red-300 hover:text-red-500">Eliminar
              Seleccion</button>
          </div>
          <chats-input [defaultPlaceHolder]="'Introduce un usuario'" (messageEvent)="onInputMembersChange($event)"
            [isChatInputLoading]="isDataInputLoading()" />
        </div>
        <form [formGroup]="createGroupForm" class="scroll_section h-[390px]">
          @for (user of userContacts(); track $index) {
          <button
            class="flex items-center justify-between cursor-pointer hover:bg-[#65666730] h-[72px] w-full py-4 px-2 pr-6 rounded-md transition-all">
            <section class="flex items-center gap-4">
              <img style="clip-path: circle();" class="w-[49px] h-[49px] clip" [src]="user.urlImg" alt="">
              <h2>{{user.firstName}} {{user.lastName}}</h2>
            </section>
            <input [value]="user.id" type="checkbox" (change)="onCheckboxChange($event)" [checked]="isChecked(user.id)"
              class="w-[20px] h-[20px] cursor-pointer accent-[#04A784]">


          </button>

          }
        </form>
        <article class="w-full flex justify-center items-center pt-[20px] h-[46px]">
          @if(groupMembers()){
          <button (click)="onSubmit()"
            class="w-[46px] h-[46px] bg-[#04A784] rounded-full flex justify-center items-center "
            [ngClass]="{'cursor-not-allowed pointer-events-none':isDataLoading()}">
            @if (isDataLoading()) {
            <shared-loading-spinner [color]="'black'" />
            }@else {
            <shared-left-arrow-icon [arrowDirection]="'right'" [iconColor]="'white'" />
            }
          </button>
          }
        </article>

      </section>

    </section>



  </article>
</section>