emoji-picker {
  width: 400px;
  height: 300px;
}

.emoji-picker-container {
  transform: scale(0);
  transition: transform 0.3s ease-out;
  opacity: 0;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.emoji-picker-container.show {
  transform: scale(1);
  opacity: 1;
}